
<header id="header" class="header fixed-top bg-light d-flex align-items-center nav-content">

  <div class="d-flex align-items-center justify-content-between">
    <a href="/" class="logo d-flex align-items-center">
      <img src="../../../../assets/images/logo.svg" alt="">
    </a>
  </div><!-- End Logo -->

  <div class="head-title">
    <h5 class="mb-0">Executive Dashboard</h5>
  </div><!-- End Head Title -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li>
      <li class="nav-item ">
        <button class="nav-link nav-icon">
          <i class="bi bi-gear-fill"></i>
        </button>
      </li>
      <li class="nav-item dropdown">
        <span class="nav-link nav-icon dropdown-toggle" (click)="openDropdown()" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-fill"></i>
        </span>
        <ul class="dropdown-menu  dropdown-menu-start drop-menu show" *ngIf="isShowDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

    </ul>
  </nav><!-- End Icons Navigation -->

</header>
  