
<div id="chart"></div>
<table class="m-auto">
  <tbody>
    <tr>
      <td>
        <i class="bi bi-circle-fill dot-color fs-12"></i>
      </td>
      <td class="pe-2">On Track</td>
      <td> <i class="bi bi-circle-fill dot-color1 fs-12"></i></td>
      <td>Delayed</td>
      <td> <i class="bi bi-circle-fill dot-color2 fs-12"></i></td>
      <td>Significantly Delayed</td>
      <td> <i class="bi bi-circle-fill dot-color3 fs-12"></i></td>
      <td>Completed</td>
    </tr>
  </tbody>
</table>
