<div id="donut"></div>
<table class="m-auto">
  <tbody>
    <tr>
      <td>
        <i class="bi bi-circle-fill dot-color1 fs-12"></i>
      </td>
      <td class="pe-2">Chairman Office</td>
      <td> <i class="bi bi-circle-fill dot-color fs-12"></i></td>
      <td>DOH Sector</td>
    </tr>
  </tbody>
</table>