.content-div {
    padding-top: 70px;
}
@media (min-width: 992px){
    .content-div {
        padding-left:152px;
    }
}
.fs-40{font-size: 40px;}
.text-green{ color: #265b6e;}
.border-l-y{border-left: 4px solid #cfc8a8 !important;}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ececec;
    height: 100vh;
    align-items: center
}
.progress {
    width: 50px;
    height: 50px;
    font-size: 12px;
    color: #000;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: #ececec;
    text-align: center;
    line-height: 10px;
}

.progress::after {content: "%";}

.progress .title {position: relative;z-index: 100;left: 18px;
    top: 18px;}

.progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ececec;
}

.progress .left, .progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #0d7a57;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.progress .left {animation: load1 1s linear forwards;}

.progress:nth-of-type(2) .right, .progress:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}

.progress:last-of-type .right, .progress:first-of-type .right {animation: load3 .8s linear forwards 1s;}


@keyframes load1 {
    0% {transform: rotate(0deg);}

    100% {transform: rotate(180deg);}
}

@keyframes load2 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {z-index: 100;transform: rotate(270deg);}
}

@keyframes load3 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {
        z-index: 100;transform: rotate(315deg);}
}
